/* Circular Std Font-Face Declarations */
@font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/circular-std-2.woff2') format('woff2');
}

@font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/circular-std-3-bold.woff2') format('woff2');
}
